@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  overflow-x: hidden;
}

/* Thêm vào global.css hoặc styles của component */
[draggable='true'] {
  cursor: move;
}

.drag-over {
  border-color: #3b82f6; /* blue-500 */
  background-color: #eff6ff; /* blue-50 */
}

.dragging {
  opacity: 0.5;
}
